.alert.alert-question {
    background-color: rgba(255, 255, 255, 0.6);
    border-color: rgba(255, 255, 255, 0.9);
    color: #090909;
}
.card.transparent-white {
    background-color: rgba(255, 255, 255, 0.6);
    border-color: rgba(255, 255, 255, 0.9);
    color: #090909;
}